<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{echo $seo->getDescription()}">
    <meta name="author" content="{echo $seo->getAuthor()}">
    <meta property="fb:app_id" content="105562456511213" />
    <meta property="og:type"   content="website" />
    <meta property="og:title" content="{echo $seo->getTitle()}" />
    <meta property="og:url" content="{echo URL}" />
    <meta property="og:image" content="{echo $seo->getPhoto()}" />
    <meta name="google-site-verification" content="dNHsB4YHIAqS72fmCfiBIXLSZouu4tldP8EOibb83mI" />
    
    <title>{echo $seo->getTitle()}</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" type="text/css" href="{echo CDN}css/style.css">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <style>
        .btn-primary {
            background-color: #337ab7; color: white;
        }
    </style>
</head>

<body>
    <div data-role="page">
    	<div data-role="header" data-theme="b">
            <h1>
                {echo substr($seo->getTitle(), 0, 50)}
            </h1>
            <a href="/" data-ajax="false" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-search">Search</a>
        </div>
    	{ayield action}
        
        <div data-role="footer" data-theme="b">
            <small>Copyright &copy; 2016, <a href="/dmca.html">DMCA</a><br>Hosted on <a href="http://cloudstuff.tech"> CloudStuff</a></small>
        </div>
    </div>
    <script src="{echo CDN}js/request.js"></script>
    <script type="text/javascript" src="{echo CDN}js/script-1.1.js"></script>
</body>

</html>
