<div role="main" class="ui-content">
	<h1>Create Account</h1>
	<form>
		<label for="text-basic">Name</label>
		<input type="text" name="text-basic" placeholder="your full name">

		<label for="text-basic">Email:</label>
		<input type="email" name="text-basic" placeholder="your primary email">

		<label for="password">Password:</label>
		<input type="password" name="password" id="password" value="" autocomplete="off">

		<button type="submit" class="ui-btn ui-corner-all">Submit</button>
	</form>
</div>