<p>
    Search for "Gerua"
    <a href="/" class="ui-btn ui-btn-inline ui-icon-home ui-btn-icon-left ui-mini">Home</a>
</p>
<ul data-role="listview" data-inset="true">

    <li>
        <a href="#">
            <img src="{echo CDN}img/music.ico">
            <h2>Broken Bells</h2>
            <p>Broken Bells</p>
        </a>
        </li>

    <li>
        <a href="#">
            <img src="{echo CDN}img/music.ico">
            <h2>Warning</h2>
            <p>Hot Chip</p>
        </a>
        </li>

    <li>
        <a href="#">
            <img src="{echo CDN}img/music.ico">
            <h2>Wolfgang Amadeus Phoenix</h2>
            <p>Phoenix</p>
        </a>
        </li>
</ul>
<div data-role="footer">
    <a href="#" class="ui-btn ui-corner-all ui-btn-inline ui-mini footer-button-left ui-btn-icon-left ui-icon-power">Quit</a>
    <a href="#" class="ui-btn ui-corner-all ui-btn-inline ui-mini footer-button-right ui-btn-icon-right ui-icon-carat-r">Next</a>
</div>