<div role="main" class="ui-content">
{include music/modals/error.html}
    <div data-role="body">
        <a href="#popupVideo" data-rel="popup" data-position-to="window">
            <img src="/home/image/{echo $id}/mqdefault.jpg" alt="">
        </a>
        <div data-role="popup" id="popupVideo" data-overlay-theme="b" data-theme="a" data-tolerance="15,15" class="ui-content">
            <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
            <iframe src="https://www.youtube.com/embed/{echo $id}" width="497" height="298" seamless=""></iframe>
        </div>
        <a href="#popupVideo" data-rel="popup" data-position-to="window" class="ui-btn ui-btn-b" >Play Video</a>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Letplaymusic1 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:320px;height:50px"
             data-ad-client="ca-pub-5478316641755579"
             data-ad-slot="5989585640"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <a href="{echo URL}" class="fbshare ui-btn ui-btn-up-b">Share on Facebook</a>
        <ul data-role="listview" data-inset="true">
            <li data-theme="b">
                Video Quality
            </li>
            <li><a href="/music/download/mp3/{echo $id}?title={echo $title}&amp;ext=mp3" class="downloadThis" data-ajax="false">Download MP3</a></li>
            {foreach $format in $formats} {foreach $f in $format}
            
                <li>
                    <a href="/music/download/{echo $f}/{echo $id}?ext={echo $f_i}&amp;title={echo $title}" class="downloadThis" data-ajax="false">
                        {echo substr($title, 0, 10)} .. - {echo $format_i}.{echo $f_i}
                    </a>
                </li>
            {/foreach} {/foreach}
        </ul>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Letplaymusic2 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:320px;height:100px"
             data-ad-client="ca-pub-5478316641755579"
             data-ad-slot="8943052046"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <br><br><br>
</div>
